<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="w-full flex justify-end">
            <a class="px-3 py-2 bg-red-500 rounded-md" href="/logout">Log out</a>
        </div>
        <h3 class="text-white text-3xl mb-2">Hello, <%=user.name%></h3>
        <h5 class="mb-5">you can create a post.</h5> 
        <form action="/post" method="post">
             <textarea placeholder="What`s on your mind" name="content" class=" block p-2 resize-none border-2 rounded-md bg-zinc-800 border-none border-zinc-700"></textarea>
             <input type="submit" class="bg-blue-500 px-3 -y2 rounded-md mt-2 px-3 py-2" value="Create post">
        </form>
        <div class="posts mt-20">
            <h3 class="text-zinc-500 text-2xl" >Your Posts.</h3>
            <div class="postcontainer  flex flex-wrap gap-4 mt-2">
                <% user.posts.reverse().forEach(function(post){%>
                 <div class="post w-3/10 bg-zinc-800 rounded-md mb-2 p-3 ">
                    <h4 class="text-blue-500 ">@<%=user.username%></h4>
                    <p class=" mb-2 text-sm pt-2 tracking-tight"><%=post.content%></p>
                    <small class="inline-block"><%=post.likes.length%></small>
                    <div class="flex gap-4">
                        <a class="text-blue-500 " href="/like/<%=post._id%>">
                            <%= post.likes.indexOf(user._id)===-1 ? "Like" :"Unlike" %>
                        </a>
                        <a class="text-zinc-500" href="/edit/<%=post._id%>">Edit</a>
                    </div>
                </div>
                <%})%>
                
            </div>
        </div>
    </div>
</body>
</html>